The strategy is to first import the pickle files as Dataframes, using an old version of pandas, then convert them to feather files and finally to h5 files that can be opened by more recent versions of pandas.

In [82]:
import pandas as pd
print(pd.__version__)

2.0.3

In [107]:
import pandas as pd

# Load the pickle file (update the path as necessary)

dictionary = pd.read_pickle('../data/price.2005.pickle')

In [108]:
# Save each DataFrame in the dictionary as a separate pickle file

for key, df in dictionary.items():
    file_name = f'../data/Price_2005_{key}.pkl'
    df.to_pickle(file_name)

In [109]:
# Save each DataFrame as a separate Feather file

for key, df in dictionary.items():
    file_name = f'../data/Price_2005_{key}.feather'
    df.reset_index(inplace=True)  # Reset index if your DataFrame has a custom index
    df.to_feather(file_name)

In [110]:
# Listing all Feather files

feather_files = [f for f in os.listdir('../data') if f.endswith('.feather')]

# Load and concatenate all DataFrames
dataframes = [pd.read_feather(f'../data/{file}') for file in feather_files]
combined_df = pd.concat(dataframes, ignore_index=True)

In [111]:
combined_df

         index   Barrid  DlyReturn
0          149  USA0001   0.000000
1          150  USA0011   0.000000
2          151  USA0031   0.000000
3          152  USA0062   0.000000
4          153  USA00E2   0.000000
...        ...      ...        ...
2997333  12479  USAZZP1  -0.004167
2997334  12480  USAZZR1   0.000000
2997335  12481  USAZZX1  -0.093750
2997336  12482  USAZZY1  -0.007526
2997337  12483  USAZZZ1   0.000399

[2997338 rows x 3 columns]

In [112]:
# Convert columns with type 'IntegerArray' to 'float64'
for col in combined_df.select_dtypes(include=["Int64", "Int32"]).columns:
    combined_df[col] = combined_df[col].astype("float64")

In [113]:
combined_df.to_hdf('../data/Price_2005.h5', key='2005', mode='w')

/Users/fmuia/anaconda3/lib/python3.11/site-packages/tables/path.py:137: NaturalNameWarning: object name is not a valid Python identifier: '2005'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)

In [2]:
# Load the DataFrame from the HDF5 file
import pandas as pd

df = pd.read_hdf('../data/Price_2005.h5', key='2005')

In [3]:
df

           index   Barrid  DlyReturn
0          149.0  USA0001   0.000000
1          150.0  USA0011   0.000000
2          151.0  USA0031   0.000000
3          152.0  USA0062   0.000000
4          153.0  USA00E2   0.000000
...          ...      ...        ...
2997333  12479.0  USAZZP1  -0.004167
2997334  12480.0  USAZZR1   0.000000
2997335  12481.0  USAZZX1  -0.093750
2997336  12482.0  USAZZY1  -0.007526
2997337  12483.0  USAZZZ1   0.000399

[2997338 rows x 3 columns]